<div class="container">
  <h2>ユーザー</h2>
  <table class="table" id="follow-table">
    <tr>
      <th></th>
      <th>名前</th>
      <th>メールアドレス</th>
      <th>フォロー</th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td id="follow-img"><%= profile_img(user) %></td>
        <td>
          <%= link_to user_path(user) do %>
            <strong><%= user.name %></strong>
          <% end %>
        </td>
        <td><%= user.email %></td>
        <td><%= render 'follow_form', user: user unless user == current_user %></td>
      </tr>
    <% end %>
  </table>
</div>
