<div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <h3>以下の内容で、送信する。</h3>
    <%= form_for(@contact) do |f| %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :email %>
      <%= f.hidden_field :content %>
      
      <p>名前: <%= @contact.name %></p>
      <p>メールアドレス: <%= @contact.email %></p>
      <p>内容: <%= @contact.content %></p>
      <%= f.submit "登録する", class: 'btn btn-primary btn-block' %>
    <% end %>
    
    <%#= form_for(@contact, url: new_contact_path, method: 'get') do |f| %>
    <%# new アクションへのパスを、デフォルトの get から post に変更 %>
    <%= form_for(@contact, url: new_contact_post_path) do |f| %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :email %>
      <%= f.hidden_field :content %>
      <%= f.submit "もどる", name: 'back', class: 'btn btn-default btn-block' %>
    <% end %>
  </div>
</div>

<%
=begin
%>
<h3>以下の内容で、送信する。</h3>

<%= form_for(@contact) do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :email %>
  <%= f.hidden_field :content %>
  
  <p>Name: <%= @contact.name %></p>
  <p>Email: <%= @contact.email %></p>
  <p>Content: <%= @contact.content %></p>
  <%= f.submit "登録する" %>
<% end %>

<%#= form_for(@contact, url: new_contact_path, method: 'get') do |f| %>
<%# new アクションへのパスを、デフォルトの get から post に変更 %>
<%= form_for(@contact, url: new_contact_post_path) do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :email %>
  <%= f.hidden_field :content %>
  <%= f.submit "もどる", name: 'back' %>
<% end %>
<%
=end
%>