<div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <h2>お問い合わせを入力する</h2>
    <%= form_for(@contact, url: confirm_contacts_path) do |f| %>
      <%= f.error_messages! %>

      <%= f.label :名前 %>
      <%= f.text_field :name, class: 'form-control' %>
      <br>
      <%= f.label :メールアドレス %>
      <%= f.text_field :email, class: 'form-control' %>
      <br>
      <%= f.label :内容 %>
      <%= f.text_area :content, :rows=>"5", class: 'form-control' %>
      <br>
      <%= f.submit '送信', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>

<%
=begin
%>
<p><%= notice %></p>

<%= form_for(@contact, url: confirm_contacts_path) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= @contact.errors.count %>件のエラーがあります。</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <br>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <br>
  <%= f.submit %>
<% end %>
<%
=end
%>

<%
=begin
%>
<h4>##### DEBUG: show contacts table #####</h4>

<table border="1" align="center">
  <tr>
    <th>id</th>
    <th>name</th>
    <th>email</th>
    <th>content</th>
    <th>created_at</th>
    <th>updated_at</th>
  </tr>
  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.id %></td>
      <td><%= contact.name %></td>
      <td><%= contact.email %></td>
      <td><%= contact.content %></td>
      <td><%= contact.created_at %></td>
      <td><%= contact.updated_at %></td>
    </tr>
  <% end %>
</table>
<%
=end
%>
